<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plantilla Mosqueteros
        </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <script src="../js/index.js"></script>
    </head>
    <body>

        <div class="menuLateral">
            <h1 class="tituloMenu"><a href="../index.html">Menú</a></h1>
            <a href="elementos_forms.html">Elementos de Forms</a>
            <hr>
            <a href="tablas.html">Tablas</a>
            <hr>
            <a href="elementos_generales.html">Elementos Generales</a>
            <hr>
            <a href="botones.html">Botones</a>
        </div>

        <h1 class="center">Plantilla Mosqueteros</h1>   
        <div class="cajaSeccion">
            <h2>Botones</h2>
            <div class="cajaSeccionInfo">
                <h3>Tipos</h3>
                <button type="button" class="btn-primary btn-lg" >Primary</button>
                <button type="button" class="btn-secondary btn-md">Secondary</button>
                <button type="button" class="btn-light">Light</button>
                <button type="button" class="btn-success btn-sm">Success</button>
                <button type="button" class="btn-error btn-sm">Error</button>
                <h2>Tamaños</h2>
                <button type="button" class="btn-primary btn-lg" >Primary</button>
                <button type="button" class="btn-primary btn-md" >Primary</button>
                <button type="button" class="btn-primary btn-sm" >Primary</button>
                <h5>Medidas: | lg = largo, md = mediano, sm = pequeño |</h5>
                <h2>Dropdown</h2>
                <div class="dropdown">
                    <button onclick="showDrop()" class="btn-drop btn-primary btn-lg">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>