<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantilla Mosqueteros</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/index.js"></script>
</head>

<body>
    <div class="menuLateral">
        <h1 class="tituloMenu"><a href="../index.html">Menú</a></h1>
        <a href="elementos_forms.html">Elementos de Forms</a>
        <hr />
        <a href="tablas.html">Tablas</a>
        <hr />
        <a href="elementos_generales.html">Elementos Generales</a>
        <hr />
        <a href="botones.html">Botones</a>
    </div>

    <h1 class="center">Plantilla Mosqueteros</h1>
    <div class="cajaSeccion">
        <h2 class="tituloB">Elementos generales</h2>
        <div id="cajaTabla" class="cajaSeccionInfo">
            <!-- Tab links -->
            <h3>Tabs</h3>

            <div class="tab">
                <button class="tablinks " onclick="openTab(event,'pag-1')">
                    Página 1
                </button>
                <button class="tablinks" onclick="openTab(event,'pag-2')">
                    Página 2
                </button>
                <button class="tablinks" onclick="openTab(event,'pag-3')">
                    Página 3
                </button>
            </div>

            <!-- TAB Content -->
            <div id="pag-1" class="tabcontent mostrar">
                <h2>Contenido de la página 1</h2>
                <p>La educación es el arma más poderosa que puedes usar para cambiar el mundo. (Nelson Mandela)</p>
            </div>
            <div id="pag-2" class="tabcontent">
                <h2>Contenido de la Página 2</h2>
                <p>Dime y lo olvido. Enséñame y lo recuerdo. Involucrarme y aprendo. (Benjamin Franklin)</p>
            </div>
            <div id="pag-3" class="tabcontent">
                <h2>Contenido de la Página 3</h2>
                <p>Para ser exitoso tendrás que aceptar todos los retos que aparezcan en tu camino. No puedes
                    simplemente aceptar aquellos que te gustan. (Mike Gafka)</p>
            </div>
            <!-- Progress Bar -->
            <h3>Progress Bar</h3>
            <div class="wrapper">
                <div class="progress-bar">
                    <span class="progress-bar-fill" style="width: 30%"></span>
                </div>
            </div>
            <!-- Listas -->
            <h3>Listas</h3>
            <div class="grid">
                <div>
                    <h4>- Desordenada</h4>
                    <ul class="a">
                        <li>Café negro</li>
                        <li>Café con leche</li>
                    </ul>
                    <ul class="b">
                        <li>Café negro</li>
                        <li>Café con leche</li>
                    </ul>
                </div>
                <div>
                    <h4>- Ordenada</h4>
                    <ol class="a">
                        <li>Hacer la tarea</li>
                        <li>Preparar la cena</li>
                    </ol>
                    <ol class="b">
                        <li>Hacer la tarea</li>
                        <li>Preparar la cena</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</body>

</html>