<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Mosqueteros
    </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/index.js"></script>
</head>

<body>
    <div class="menuLateral">
        <h1 class="tituloMenu"><a href="../index.html">Menú</a></h1>
        <a href="elementos_forms.html">Elementos de Forms</a>
        <hr>
        <a href="tablas.html">Tablas</a>
        <hr>
        <a href="elementos_generales.html">Elementos Generales</a>
        <hr>
        <a href="botones.html">Botones</a>
    </div>

    <h1 class="center">Plantilla Mosqueteros</h1>
    <div class="cajaSeccion">
        <h2>Elementos generales</h2>
        <div id="cajaTabla" class="cajaSeccionInfo">
        </div>
    </div>

</body>

</html>