<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Mosqueteros
    </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/index.js"></script>
</head>

<body>
    <div class="menuLateral">
        <h1 class="tituloMenu"><a href="../index.html">Menú</a></h1>
        <a href="elementos_forms.html">Elementos de Forms</a>
        <hr>
        <a href="tablas.html">Tablas</a>
        <hr>
        <a href="elementos_generales.html">Elementos Generales</a>
        <hr>
        <a href="botones.html">Botones</a>
    </div>

    <h1 class="center">Plantilla Mosqueteros</h1>
    <div class="cajaSeccion">
        <h2 class="tituloB">Elementos basicos de Forms</h2>
        <div class="cajaSeccionInfo">
            <h3>Inputs</h3>
            <div>
                <h4>Default</h4>
                <label for="name">Nombre</label>
                <input class="defaultInput" type="text" id="name" name="name" value="Daniel Gurreck" required>
            </div>
            <div>
                <h4>Disabled</h4>
                <label for="pais">País</label>
                <input class="disabledInput" type="text" id="pais" name="pais" value="Costa Rica" disabled>
            </div>
            <div>
                <h4>Read-Only</h4>
                <label for="pais">Cédula</label>
                <input class="readInput" type="text" id="pais" name="pais" value="118140586" readonly tool>
            </div>
            <div>
                <h4>Password</h4>
                <label for="pais">Cédula</label>
                <input class="defaultInput" type="password" id="pais" name="pais" value="118140586">
            </div>
            <h3>Selects</h3>
            <label for="cars">Select</label>
            <select name="cars" class="defaultSelect">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>

            <h3>Checkbox</h3>
            <div class="checkbox-content">
                <label class="container">Uno
                    <input type="checkbox" checked="checked">
                    <span class="checkmarkCh"></span>
                </label>
                <label class="container">Dos
                    <input type="checkbox">
                    <span class="checkmarkCh"></span>
                </label>
                <label class="container">Tres
                    <input type="checkbox">
                    <span class="checkmarkCh"></span>
                </label>
                <label class="container">Cuatro
                    <input type="checkbox">
                    <span class="checkmarkCh"></span>
                </label>
            </div>


            <h3>Radio button</h3>
            <div class="radio-content">
                <label class="container">Uno
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmarkRb"></span>
                </label>
                <label class="container">Dos
                    <input type="radio" name="radio">
                    <span class="checkmarkRb"></span>
                </label>
                <label class="container">Tres
                    <input type="radio" name="radio">
                    <span class="checkmarkRb"></span>
                </label>
                <label class="container">Cuatro
                    <input type="radio" name="radio">
                    <span class="checkmarkRb"></span>
                </label>
            </div>

        </div>

    </div>

</body>

</html>