<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Mosqueteros
    </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/index.js"></script>
</head>

<body>
    <div class="menuLateral">
        <h1 class="tituloMenu"><a href="../index.html">Menú</a></h1>
        <a href="elementos_forms.html">Elementos de Forms</a>
        <hr>
        <a href="tablas.html">Tablas</a>
        <hr>
        <a href="elementos_generales.html">Elementos Generales</a>
        <hr>
        <a href="botones.html">Botones</a>
    </div>

    <h1 class="center">Plantilla Mosqueteros</h1>
    <div class="cajaSeccion">
        <h2>Tablas</h2>
        <div id="cajaTabla" class="cajaSeccionInfo">
            <table class="tabla" id="tabladatos">
                <thead>
                    <td>NRC</td>
                    <td>Curso</td>
                    <td>Docente</td>
                    <td>Horario</td>
                    <td>Estado</td>
                    <td>Tipo</td>
                    <td>Accion</td>
                </thead>
                <tbody id="cuerpotabla">
                    <tr id="f1">
                        <td>49908</td>
                        <td>Programacion IV</td>
                        <td>Nicolas Gutierrez</td>
                        <td>Diurno</td>
                        <td>Activo</td>
                        <td>Carrera</td>
                        <td> <input type="button" class="botonEliminar" name="btn_eliminar" title="Eliminar"
                                value="Eliminar" onclick="eliminarFila(this)"> </td>
                    </tr>
                    <tr id="f2">
                        <td>43457</td>
                        <td>Modelado 3D</td>
                        <td>Pedro Gamboa</td>
                        <td>Nocturno</td>
                        <td>Inactivo</td>
                        <td>General</td>
                        <td> <input type="button" class="botonEliminar" name="btn_eliminar" title="Eliminar"
                                value="Eliminar" onclick="eliminarFila(this)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>